{% load static %}
<html lang="ru">
  <head>
    {% include 'includes/head.html' %}
    <title>
    {% block title %}Здесь должно быть описание{% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      <div class="container py-5">
        {% block content %}
          Здесь должна быть основная часть
        {% endblock %}
      </div>
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>